<div>
      <h2>INFO </h2>
      <ul>
            <li>Argumentos de Entrada: {{arg}}</li>
            <li>Procesadores: {{cpus}}</li>
            <li>Sistema Operativo: {{os}}</li>
            <li>Version de Node: {{version}}</li>
            <li>rss: {{rss}}</li>
            <li>path de ejecucion: {{path}}</li>
            <li>Process Id: {{pid}}</li>
            <li>Carpeta del proytecto: {{folder}}</li>
      </ul>
</div>